@font-face{
    font-family: IranSans;
    src: url("../Fonts/IRANSans.ttf") format("ttf");
}

 .persian-font{
     font-family: IranSans !important;
 }
textarea{
    min-height: 200px !important;
   width: 80%;
}
input{
    width : 80%;
}

body{
    height: 100% !important;
}
div#root {
    height: 100% !important;
}
html{
    height: 100% !important;
    font-family: IranSans !important;
}
.cursor-pointer
{
    cursor:pointer;
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
  text-align: center !important;
}