.spinner {
    position: absolute !important;
    left: 50%;
    top: 50%;
    height:60px;
    width:60px;
    margin:0px auto;
   
 }
textarea{
    min-height: 200px !important;
   width: 80%;
}
input{
    width : 80%;
}